/* raw dom */

  /* raw header */
header {
  padding: 0 0 10px;
  background-image:url('../images/title_background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
  /* end of raw header */

/* color of form input text */

input {
  color:white;
}

/* end of raw dom */

/* login && signup */

#login-rocket {
  width: 350px;
  height: 350px;
}

#login {
  padding: 10px 0 10px 0;
}

/* end of login and signup */
